---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar/Navbar";
import Hero from "../components/sections/HeroSection/Hero";
import Company from "../components/sections/CompanySection/Company";
import Clients from "../components/sections/ClientSection/Clients";
import Steps from "../components/sections/StepsSection/Steps";
import About from "../components/sections/AboutSection/About";
import Contact from "../components/sections/ContactSection/Contact";
import Footer from "../components/Footer";
---

<Layout title="Welcome to Astro.">
  <Navbar client:only="react" />
  <main>
    <Hero client:only="react" />
    <Company client:only="react" />
    <Clients client:only="react" />
    <Steps client:only="react" />
    <About client:only="react" />
    <Contact client:only="react" />
  </main>
  <Footer />
</Layout>
