---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar/Navbar";
import Hero from "../components/sections/Hero";
import Info from "../components/sections/Info";
import Clients from "../components/sections/Clients";
import Steps from "../components/sections/Steps";
import About from "../components/sections/About";
import Contact from "../components/sections/Contact";
---

<Layout title="Welcome to Astro.">
  <Navbar client:load />
  <main>
    <Hero client:load />
    <Info />
    <Clients />
    <Steps />
    <About />
    <Contact />
  </main>
</Layout>
