---
import "@fontsource/roboto";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/base.css">
    <title>{title}</title>

  </head>
  <body class="bg-page-background">
    <main id="swup">
      <slot />
    </main>
    <script src="../app.js"></script>
  </body>
</html>
