
---
import Layout from "../../layouts/Layout.astro"
import Navbar from "../../components/navbar/Navbar";
import CaseStudyInfo from "../../components/Case/CaseStudyInfo";
---

<Layout title="Welcome to Astro.">
  <Navbar client:load />
  <main>
    <CaseStudyInfo client:load/>
  </main>
</Layout>