---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/navbar/Navbar";
import CaseStudieInfo from "../../components/Case/CaseStudieInfo";

const { slug } = Astro.params;
---

<Layout title="Welcome to Astro.">
  <Navbar client:load />
  <main>
    <CaseStudieInfo client:load slug={slug} />
  </main>
</Layout>
