---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/navbar/Navbar";
import CaseStudieInfo from "../../components/Case/CaseStudieInfo";
---

<Layout title="Welcome to Astro.">
  <Navbar client:only="react" />
  <main>
    <CaseStudieInfo client:only="react" />
  </main>
</Layout>
